Repository workbenchdev/Workbench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Hofer-Julian, @theCapypara, @andyholmes

.github/CODEOWNERS:

/src/langs/javascript/ @sonnyp
*.js @sonnyp

/src/langs/vala/ @lw64
*.vala @lw64

/src/langs/rust/ @Hofer-Julian
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian

/src/langs/python/ @theCapypara
*.py @theCapypara

*.c @andyholmes
*.h @andyholmes

Remove duplicate code
  src/widgets/CodeFind.js
Owners: @sonnyp

f
  src/common.js
Owners: @sonnyp

Remove duplicate code (#869)
  src/widgets/CodeFind.js
Owners: @sonnyp

Fix doap file
  Workbench.doap
Owners: none

Fix doap file (#871)
  Workbench.doap
Owners: none

GNOME 46 (#867)
  Makefile
  build-aux/modules/webp-pixbuf-loader.json
  build-aux/re.sonny.Workbench.Devel.json
  build-aux/re.sonny.Workbench.json
  meson.build
  src/workbench
Owners: none

AdwMessageDialog -> Adw.AlertDialog
  build-aux/modules/blueprint-compiler.json
  src/init.js
  src/window.blp
  src/window.js
Owners: @sonnyp

cool
  src/about.js
Owners: @sonnyp

Replace AdwMessageDialog with AdwAlertDialog (#874)
  build-aux/modules/blueprint-compiler.json
  src/about.js
  src/init.js
  src/window.blp
  src/window.js
Owners: @sonnyp

cli: Remove unecessary exceptions in ci
  src/cli/main.js
Owners: @sonnyp

f
  build-aux/modules/blueprint-compiler.json
Owners: none

cli: Remove unecessary exceptions in ci (#876)
  build-aux/modules/blueprint-compiler.json
  src/cli/main.js
Owners: @sonnyp

rust 4 tabSize
  src/common.js
  src/langs/rust/RustDocument.js
Owners: @sonnyp, @Hofer-Julian

debug
  src/langs/rust/Compiler.js
  src/langs/rust/rust.js
  src/sessions.js
  src/workbench
Owners: @Hofer-Julian, @sonnyp

Add WorkbenchPreviewWindow
  src/application.js
  src/init.js
  src/libworkbench/meson.build
  src/libworkbench/workbench-preview-window.blp
  src/libworkbench/workbench-preview-window.c
  src/libworkbench/workbench-preview-window.h
  src/libworkbench/workbench.h
  src/main.js
  src/window.js
Owners: @sonnyp, @andyholmes

cool
  src/init.js
  src/window.js
Owners: @sonnyp

Use WorkbenchPreviewWindow for Python previewr
  src/application.js
  src/langs/python/python-previewer.py
  src/libworkbench/meson.build
  src/libworkbench/re.sonny.Workbench.libworkbench.gresource.xml
  src/libworkbench/workbench-preview-window.c
Owners: @sonnyp, @theCapypara, @andyholmes

vala-previewer: Use Workbench.PreviewerWindow
  src/Previewer/meson.build
  src/Previewer/previewer.vala
  src/libworkbench/meson.build
  src/libworkbench/workbench-preview-window.c
  src/libworkbench/workbench-preview-window.h
  src/meson.build
Owners: @lw64, @andyholmes
