Repository workbenchdev/Workbench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Hofer-Julian, @andyholmes, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.c @andyholmes
*.h @andyholmes
*.py @theCapypara

python
  src/Library/demos/Save File/main.py
Owners: @theCapypara

python2
  src/Library/demos/Save File/main.py
Owners: @theCapypara

f
  data/app.metainfo.xml
Owners: @sonnyp

Library: Write to file in Save File entry (#809)
  data/app.metainfo.xml
  src/Library/demos/Save File/main.js
  src/Library/demos/Save File/main.py
Owners: @sonnyp, @theCapypara

Update dependencies
  Makefile
  build-aux/README.md
  build-aux/modules/GTKCssLanguageServer.json
  build-aux/modules/blueprint-compiler.json
  build-aux/modules/gi-docgen.json
  build-aux/modules/gst-plugin-gtk4-sources.json
  build-aux/modules/gst-plugin-gtk4.json
  build-aux/modules/icon-development-kit.json
  build-aux/modules/libportal.json
  build-aux/modules/libshumate.json
  build-aux/modules/libspelling.json
  build-aux/modules/vte.json
  build-aux/re.sonny.Workbench.Devel.json
  build-aux/re.sonny.Workbench.json
  src/about.js
Owners: @sonnyp

Remove translations
  data/app.metainfo.xml
  data/meson.build
  meson.build
  po/LINGUAS
  po/POTFILES
  po/ar.po
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fa.po
  po/fr.po
  po/he.po
  po/id.po
  po/it.po
  po/ja.po
  po/meson.build
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/re.sonny.Workbench.pot
  po/ru.po
  po/tr.po
  po/vi.po
  po/zh_Hans.po
  src/Library/Library.js
  src/about.js
  src/meson.build
  src/workbench
Owners: @sonnyp

Fix tests
  Makefile
  data/app.metainfo.xml
  src/Extensions/Extension.blp
  src/Library/Library.blp
  src/Library/demos/Audio/main.blp
  src/Library/demos/Box/main.blp
  src/Library/demos/CSS Gradients/main.blp
  src/Library/demos/Center Box/main.blp
  src/Library/demos/Column View/main.blp
  src/Library/demos/Emoji Chooser/main.blp
  src/Library/demos/Flow Box/main.blp
  src/Library/demos/Label/main.blp
  src/Library/demos/Level Bars/main.blp
  src/Library/demos/Map/main.blp
  src/Library/demos/Overlay/main.blp
  src/Library/demos/Preferences Window/main.blp
  src/Library/demos/Revealer/main.blp
  src/Library/demos/Screenshot/main.blp
  src/Library/demos/Separator/main.blp
  src/Library/demos/Text Fields/main.blp
  src/widgets/CodeView.blp
  src/window.blp
Owners: @sonnyp

Add console copy shortcut
  src/TermConsole.js
  src/shortcutsWindow.blp
Owners: @sonnyp

Library: Port 'Wallpaper' to Python
  src/Library/demos/Wallpaper/main.py
Owners: @theCapypara

Library: Port 'Overlay Split View' to Python
  src/Library/demos/Overlay Split View/main.py
Owners: @theCapypara

Library: Port 'Email' to Python
  src/Library/demos/Email/main.py
Owners: @theCapypara

Library: Port 'Account' to Python
  src/Library/demos/Account/main.py
Owners: @theCapypara

Library: Port 'Accessibility' to Python
  src/Library/demos/Accessibility/main.py
Owners: @theCapypara

Library: Port 'Level Bars' to Python
  src/Library/demos/Level Bars/main.py
Owners: @theCapypara

Fix various issues with the previewers
  src/PanelCode.js
  src/Previewer/External.js
  src/Previewer/Previewer.js
  src/Previewer/previewer.vala
  src/langs/python/python-previewer.py
Owners: @sonnyp, @lw64, @theCapypara

Fix no previewer for no-code demos
  src/Previewer/Previewer.js
  src/window.js
Owners: @sonnyp

fix style in vala previewer
  src/Previewer/previewer.vala
Owners: @lw64

Remove Icon Library
  src/IconLibrary/IconWidget.blp
  src/IconLibrary/IconWidget.js
  src/IconLibrary/main.blp
  src/IconLibrary/main.js
  src/Library/demos/Menu Button/main.blp
  src/actions.js
  src/window.blp
Owners: @sonnyp

Remove "+1000 icons" branding
  README.md
  data/app.metainfo.xml
Owners: @sonnyp

Library: Port 'Wallpaper' to Python (#814)
  src/Library/demos/Wallpaper/main.py
Owners: @theCapypara

Library: Port 'Overlay Split View' to Python (#815)
  src/Library/demos/Overlay Split View/main.py
Owners: @theCapypara

Library: Port 'Email' to Python (#816)
  src/Library/demos/Email/main.py
Owners: @theCapypara

Library: Port 'Account' to Python (#817)
  src/Library/demos/Account/main.py
Owners: @theCapypara

Python Accessibility demo: Fix keypress callback
  src/Library/demos/Accessibility/main.py
Owners: @theCapypara

Start implementation of composite template support for external langs
  src/Library/demos/Custom Widget/code.rs
  src/Library/demos/Custom Widget/main.py
  src/Library/demos/Custom Widget/main.vala
  src/Previewer/External.js
  src/Previewer/Previewer.js
  src/Previewer/TemplateResource.js
  src/Previewer/previewer.vala
  src/Previewer/previewer.xml
  src/langs/python/python-previewer.py
  src/langs/rust/Compiler.js
  src/langs/rust/template/workbench.rs
  src/langs/vala/Compiler.js
  src/langs/vala/workbench.vala
  src/window.js
Owners: @Hofer-Julian, @theCapypara, @lw64, @sonnyp

Library: Port 'Accessibility' to Python (#818)
  src/Library/demos/Accessibility/main.py
Owners: @theCapypara

library: Port 'Column View' to Python
  src/Library/demos/Column View/main.py
Owners: @theCapypara

library: Port 'List View Widget' to Python
  src/Library/demos/List View Widgets/main.py
Owners: @theCapypara

Restore projects on startup
  data/app.gschema.xml
  src/application.js
  src/sessions.js
Owners: @sonnyp

yey
  src/sessions.js
  src/window.js
Owners: @sonnyp

Restore projects on startup (#830)
  data/app.gschema.xml
  src/application.js
  src/sessions.js
  src/window.js
Owners: @sonnyp

Prepare v45.4
  CONTRIBUTING.md
  data/app.metainfo.xml
  meson.build
Owners: @sonnyp

previewer: Set CSS priority to APPLICATION
  src/Previewer/Internal.js
  src/Previewer/Previewer.js
  src/Previewer/previewer.vala
Owners: @sonnyp, @lw64

previewer: Set CSS priority to APPLICATION (#831)
  src/Previewer/Internal.js
  src/Previewer/Previewer.js
  src/Previewer/previewer.vala
Owners: @sonnyp, @lw64

Scope CSS to the current window
  data/app.metainfo.xml
  src/Previewer/Internal.js
  src/sessions.js
  src/window.blp
Owners: @sonnyp

Scope CSS to the current window (#832)
  data/app.metainfo.xml
  src/Previewer/Internal.js
  src/sessions.js
  src/window.blp
Owners: @sonnyp

Fix Console style when toggling dark mode
  data/app.metainfo.xml
  src/TermConsole.js
  src/langs/javascript/biome.json
Owners: @sonnyp

Update to libshumate 1.1.2
  build-aux/modules/libshumate.json
Owners: @sonnyp

Add WebP image format support
  build-aux/modules/webp-pixbuf-loader.json
  build-aux/re.sonny.Workbench.Devel.json
  build-aux/re.sonny.Workbench.json
  data/app.metainfo.xml
  src/workbench
Owners: @sonnyp

Add WebP image format support (#837)
  build-aux/modules/webp-pixbuf-loader.json
  build-aux/re.sonny.Workbench.Devel.json
  build-aux/re.sonny.Workbench.json
  data/app.metainfo.xml
  src/workbench
Owners: @sonnyp
