Repository workbenchdev/Workbench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Hofer-Julian, @andyholmes, @theCapypara

.github/CODEOWNERS:

* @sonnyp

# Vala
*.vala @lw64
/src/langs/vala/ @lw64

# Rust
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
/src/langs/rust/ @Hofer-Julian

# C
*.c @andyholmes
*.h @andyholmes

# Python
*.py @theCapypara
/src/langs/python/ @theCapypara

previewer: Simplify preview flow
  src/Previewer/DBusPreviewer.js
  src/Previewer/External.js
  src/Previewer/Previewer.js
  src/langs/rust/Compiler.js
  src/window.blp
  src/window.js
Owners: @sonnyp, @Hofer-Julian

Implement start/stop behaviour
  src/Previewer/External.js
  src/Previewer/Internal.js
  src/Previewer/Previewer.js
  src/window.blp
  src/window.js
Owners: @sonnyp

Add Vala formatter support
  .editorconfig
  .gitmodules
  Makefile
  README.md
  build-aux/library-index.js
  package.json
  src/Library/Library.js
  src/Previewer/crasher.vala
  src/Previewer/previewer.vala
  src/langs/vala/vala.js
  src/langs/vala/workbench.vala
  src/meson.build
  src/util.js
  src/window.js
Owners: @sonnyp, @lw64

ok
  Makefile
  package.json
Owners: @sonnyp

f
  Makefile
Owners: @sonnyp

Use Biome for JS formatting
  src/PanelCode.js
  src/langs/blueprint/blueprint.js
  src/langs/javascript/javascript.js
  src/lib/rollup.config.js
  src/lsp/sourceview.js
  src/window.js
Owners: @sonnyp

Add code to connect a python lsp
  src/PanelCode.js
  src/langs/python/python.js
  src/window.js
Owners: @sonnyp, @theCapypara

Add _not yet working_ flatpak module for ruff-lsp
  build-aux/modules/python-ruff-lsp.json
  build-aux/re.sonny.Workbench.Devel.json
Owners: @sonnyp

Refactor document and format code logic
  src/Document.js
  src/PanelCode.js
  src/PanelUI.js
  src/langs/blueprint/BlueprintDocument.js
  src/langs/blueprint/blueprint.js
  src/langs/css/CssDocument.js
  src/langs/javascript/JavaScriptDocument.js
  src/langs/javascript/javascript.js
  src/langs/python/PythonDocument.js
  src/langs/rust/RustDocument.js
  src/langs/vala/ValaDocument.js
  src/langs/xml/XmlDocument.js
  src/lsp/sourceview.js
  src/widgets/CodeView.js
  src/window.js
Owners: @sonnyp, @theCapypara, @Hofer-Julian, @lw64

Refactor document and format code logic
  src/Document.js
  src/PanelCode.js
  src/PanelUI.js
  src/langs/blueprint/BlueprintDocument.js
  src/langs/blueprint/blueprint.js
  src/langs/css/CssDocument.js
  src/langs/javascript/JavaScriptDocument.js
  src/langs/javascript/javascript.js
  src/langs/python/PythonDocument.js
  src/langs/rust/RustDocument.js
  src/langs/vala/ValaDocument.js
  src/langs/xml/XmlDocument.js
  src/lsp/sourceview.js
  src/widgets/CodeView.js
  src/window.js
Owners: @sonnyp, @theCapypara, @Hofer-Julian, @lw64

Use Biome for JS formatting
  src/PanelCode.js
  src/langs/blueprint/blueprint.js
  src/langs/javascript/javascript.js
  src/lib/rollup.config.js
  src/lsp/sourceview.js
  src/window.js
Owners: @sonnyp

Add search to code views
  src/widgets/CodeView.blp
  src/widgets/CodeView.js
  src/widgets/Search.blp
  src/widgets/Search.js
Owners: @sonnyp

Fix CI
  src/widgets/Search.blp
Owners: @sonnyp

Extensions: Add button to install Sdk Extensions
  src/Extensions/Extension.blp
  src/Extensions/Extension.js
  src/Extensions/Extensions.blp
Owners: @sonnyp

extensions: Improve design
  src/Extensions/Extension.blp
Owners: @sonnyp

Add Separator to the search bar
  src/widgets/Search.blp
Owners: @sonnyp

Update app.metainfo
  data/app.metainfo.xml
Owners: @sonnyp

extensions: enable downloading also llvm extension
  src/Extensions/Extension.blp
  src/Extensions/Extension.js
  src/Extensions/Extensions.blp
Owners: @sonnyp

Remove ruff-lsp flatpak module
  build-aux/modules/python-ruff-lsp.json
  build-aux/re.sonny.Workbench.Devel.json
Owners: @sonnyp

Fix error handling of LSP message reading.
  src/lsp/LSPClient.js
Owners: @sonnyp

LSPClient.js only wait conditionally.
  src/lsp/LSPClient.js
Owners: @sonnyp

Change the Python LSP to pylsp
  src/langs/python/PythonDocument.js
  src/langs/python/python.js
Owners: @theCapypara

Fix error handling of LSP message reading.
  src/lsp/LSPClient.js
Owners: @sonnyp

cleanup
  data/app.metainfo.xml
  src/Previewer/DBusPreviewer.js
  src/Previewer/Internal.js
  src/Previewer/Previewer.js
  src/langs/rust/Compiler.js
  src/window.js
Owners: @sonnyp, @Hofer-Julian

Add pylsp as a python language server
  build-aux/modules/python-python-lsp-server.json
  build-aux/re.sonny.Workbench.Devel.json
Owners: @sonnyp

Actually start pylsp after setting it up.
  src/langs/python/python.js
Owners: @theCapypara

Revert not yet merged changes to the LSPClient
  src/lsp/LSPClient.js
Owners: @sonnyp

Remove overlooked console.log statements in the python LSP file.
  src/langs/python/python.js
Owners: @theCapypara

yey
  README.md
  data/app.metainfo.xml
  src/langs/vala/ValaDocument.js
  src/langs/vala/vala.js
Owners: @sonnyp, @lw64

Run eslint on python.js and fix formatting
  src/langs/python/python.js
Owners: @theCapypara

Move demos submodule to the root
  .eslintignore
  .gitmodules
  build-aux/library-index.js
  package.json
  src/Library/Library.js
  src/meson.build
  src/util.js
Owners: @sonnyp

Workbench CLI
  Makefile
  src/cli/bin.js
  src/cli/main.js
  src/cli/re.sonny.Workbench.cli.src.gresource
  src/langs/blueprint/BlueprintDocument.js
  src/langs/css/css.js
  src/langs/javascript/javascript.js
  src/langs/vala/vala.js
  src/lsp/LSPClient.js
  src/meson.build
Owners: @sonnyp, @lw64

cleanup
  Makefile
  package.json
  src/Previewer/crasher.vala
  src/Previewer/previewer.vala
  src/langs/vala/workbench.vala
Owners: @sonnyp, @lw64

f
  Makefile
Owners: @sonnyp

Add Vala formatter support (#850)
  .editorconfig
  README.md
  data/app.metainfo.xml
  src/langs/vala/ValaDocument.js
  src/langs/vala/vala.js
  src/window.js
Owners: @sonnyp, @lw64

f
  src/Previewer/crasher.vala
  src/Previewer/previewer.vala
  src/cli/re.sonny.Workbench.cli.src.gresource
  src/langs/vala/workbench.vala
Owners: @lw64, @sonnyp

reformat
  Makefile
  package.json
  src/Previewer/crasher.vala
  src/Previewer/previewer.vala
  src/cli/main.js
  src/langs/vala/workbench.vala
Owners: @sonnyp, @lw64

yey
  src/cli/bin.js
  src/cli/info.js
  src/cli/main.js
  src/cli/meson.build
  src/lsp/LSPClient.js
Owners: @sonnyp

rework
  Makefile
  src/cli/bin.js
  src/cli/format.js
  src/cli/lint.js
  src/cli/main.js
  src/cli/util.js
Owners: @sonnyp

f
  build-aux/fun
  src/lsp/LSPClient.js
Owners: @sonnyp
