Repository workbenchdev/Workbench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Hofer-Julian, @andyholmes, @theCapypara

sonnyp/Workbench -> workbenchdev/Workbench
  CONTRIBUTING.md
  data/app.metainfo.xml
  src/Library/demos/Notification/main.vala
  src/Library/demos/Toasts/main.vala
  src/Previewer/Internal.js
  src/about.js
  src/lsp/LSPClient.js
  src/overrides.js
Owners: @sonnyp, @lw64

The child is already set from the blueprint
  src/Library/demos/Status Page/main.js
Owners: @sonnyp

Move page content inline
  src/Library/demos/Status Page/main.blp
Owners: @sonnyp

Update src/Library/demos/Status Page/main.blp
  src/Library/demos/Status Page/main.blp
Owners: @sonnyp

javascript: Use TypeScript language server
  build-aux/re.sonny.Workbench.Devel.json
  src/langs/javascript/javascript.js
  src/langs/javascript/jsconfig.json
Owners: @sonnyp

Library: Simplify "Status Page" entry (#793)
  src/Library/demos/Status Page/main.blp
  src/Library/demos/Status Page/main.js
Owners: @sonnyp

library: Improve Vala HTTP Request demo
  src/Library/demos/HTTP Request/main.vala
Owners: @lw64

library: Port Web View demo to Vala
  src/Library/demos/Web View/main.vala
Owners: @lw64

library: Port HTTP Request demo to Vala (#791)
  src/Library/demos/HTTP Request/main.vala
Owners: @lw64

library: Replace Pixbufs with Textures, HTTP Image demo
  src/Library/demos/HTTP Image/main.js
Owners: @sonnyp

library: Simplify HTTP Request demo
  src/Library/demos/HTTP Request/main.js
Owners: @sonnyp

library: Use `GdkTexture` in HTTP Image Vala demo
  src/Library/demos/HTTP Image/main.vala
Owners: @lw64

library: Use Gdk.Texture in HTTP Image Rust demo
  src/Library/demos/HTTP Image/code.rs
Owners: @Hofer-Julian

f
  src/Library/demos/HTTP Request/main.js
Owners: @sonnyp

library: Simplify HTTP Request demo (#797)
  src/Library/demos/HTTP Request/main.js
Owners: @sonnyp

Mark release descriptions as untranslatable (#662)
  data/app.metainfo.xml
Owners: @sonnyp

Fix a bug where the session settings already existed before copy
  .gitignore
  Makefile
  src/sessions.js
Owners: @sonnyp

Handle default case in WebView.load_changed callback
  src/Library/demos/Web View/main.vala
Owners: @lw64

library: Replace Pixbufs with Textures in HTTP Image demo (#796)
  src/Library/demos/HTTP Image/main.js
Owners: @sonnyp

library: Remove `Gdk.Pixbuf`-related APIs in HTTP Image Vala demo (#798)
  src/Library/demos/HTTP Image/main.vala
Owners: @lw64

Replace unused enum values with `default` case
  src/Library/demos/Web View/main.vala
Owners: @lw64

library: Port Web View demo to Vala (#795)
  src/Library/demos/Web View/main.vala
Owners: @lw64

Fix CSS provider priority
  src/Previewer/Internal.js
  src/Previewer/previewer.vala
Owners: @sonnyp, @lw64

Fix CSS provider priority (#800)
  src/Previewer/Internal.js
  src/Previewer/previewer.vala
Owners: @sonnyp, @lw64

Library: Port 'Video' to Python (#728)
  src/Library/demos/Video/main.py
Owners: @theCapypara

python: Minor styling changes to Toolbar View demo
  src/Library/demos/Toolbar View/main.py
Owners: @theCapypara

python: Minor styling changes to Text View demo
  src/Library/demos/Text View/main.py
Owners: @theCapypara

Library: Port 'Text Fields' to Python (#734)
  src/Library/demos/Text Fields/main.py
Owners: @theCapypara

Library: Port 'Toolbar View' to Python (#730)
  src/Library/demos/Toolbar View/main.py
Owners: @theCapypara

python: Minor styling changes to Text Colors demo
  src/Library/demos/Text Colors/main.py
Owners: @theCapypara

Library: Port 'Tab View' to Python (#737)
  src/Library/demos/Tab View/main.py
Owners: @theCapypara

Library: Port 'Text View' to Python (#733)
  src/Library/demos/Text View/main.py
Owners: @theCapypara

Library: Port 'Text Colors' to Python (#735)
  src/Library/demos/Text Colors/main.py
Owners: @theCapypara

Library: Port 'Search' to Python (#742)
  src/Library/demos/Search/main.py
Owners: @theCapypara

Python Color Picker Demo: Fix parsing color
  src/Library/demos/Color Picker/main.py
Owners: @theCapypara

python: fix Previewer not being closable
  src/langs/python/python-previewer.py
Owners: @theCapypara

python: Minor styling changes to Dialogs demo
  src/Library/demos/Dialogs/main.py
Owners: @theCapypara

python: fix Previewer not being closable (#803)
  src/langs/python/python-previewer.py
Owners: @theCapypara

Library: Port 'Color Picker' to Python (#741)
  src/Library/demos/Color Picker/main.py
Owners: @theCapypara

Library: Port 'Dialogs' to Python (#743)
  src/Library/demos/Dialogs/main.py
Owners: @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.c @andyholmes
*.h @andyholmes
*.py @theCapypara
