Repository workbenchdev/Workbench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Hofer-Julian, @andyholmes, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.c @andyholmes
*.h @andyholmes
*.py @theCapypara

Library: Port 'Label' to Python (#747)
  src/Library/demos/Label/main.py
Owners: @theCapypara

Flow Box Python demo: Enforce snake_case
  src/Library/demos/Flow Box/main.py
Owners: @theCapypara

python: Minor styling changes to Revealer demo
  src/Library/demos/Revealer/main.py
Owners: @theCapypara

Library: Port 'Open File' to Python (#749)
  src/Library/demos/Open File/main.py
Owners: @theCapypara

Power Profile Monitor Python demo: Improve callback arguments
  src/Library/demos/Power Profile Monitor/main.py
Owners: @theCapypara

Library: Port 'Flow Box' to Python (#744)
  src/Library/demos/Flow Box/main.py
Owners: @theCapypara

Library: Port 'Revealer' to Python (#748)
  src/Library/demos/Revealer/main.py
Owners: @theCapypara

Library: Port 'Menu' to Python (#751)
  src/Library/demos/Menu/main.py
Owners: @theCapypara

Library: Port 'Switch' to Python (#753)
  src/Library/demos/Switch/main.py
Owners: @theCapypara

Library: Port 'Stack' to Python (#755)
  src/Library/demos/Stack/main.py
Owners: @theCapypara

Port 'Picture' to Python (#767)
  src/Library/demos/Picture/main.py
Owners: @theCapypara

Review fixes
  src/Library/demos/Spin Button/main.py
Owners: @theCapypara

Library: Port 'Power Profile Monitor' to Python (#782)
  src/Library/demos/Power Profile Monitor/main.py
  src/about.js
Owners: @theCapypara, @sonnyp

library: Remove Gdk.Pixbuf-related APIs in HTTP Image Rust demo (#799)
  src/Library/demos/HTTP Image/code.rs
Owners: @Hofer-Julian

Library: Port 'Spin Button' to Python (#756)
  src/Library/demos/Spin Button/main.py
Owners: @theCapypara

Library: Port 'Source View' to Python (#757)
  src/Library/demos/Source View/main.py
Owners: @theCapypara

Library: Port 'Preferences Window' to Python (#766)
  src/Library/demos/Preferences Window/main.py
Owners: @theCapypara

Library: Port 'Clamp' to Python (#777)
  src/Library/demos/Clamp/main.py
Owners: @theCapypara

Library: Port 'Banner' to Python (#776)
  src/Library/demos/Banner/main.py
Owners: @theCapypara

Library: Port 'Save File' to Python (#775)
  src/Library/demos/Save File/main.py
Owners: @theCapypara

Library: Port 'Action Bar' to Python (#774)
  src/Library/demos/Action Bar/main.py
Owners: @theCapypara

python: Minor fix to Select Folder demo
  src/Library/demos/Select Folder/main.py
Owners: @theCapypara

Library: Port 'Scale' to Python (#769)
  src/Library/demos/Scale/main.py
Owners: @theCapypara

Library: Port 'Spell Checker' to Python (#758)
  src/Library/demos/Spell Checker/main.py
Owners: @theCapypara

Library: Port 'Select Folder' to Python (#771)
  src/Library/demos/Select Folder/main.py
Owners: @theCapypara

library: Port Avatar demo to Rust
  src/Library/demos/Avatar/code.rs
Owners: @Hofer-Julian

Update src/Library/demos/Avatar/code.rs
  src/Library/demos/Avatar/code.rs
Owners: @Hofer-Julian

library: Add Actions Rust demo
  src/Library/demos/Actions/code.rs
Owners: @Hofer-Julian

library: Port Avatar demo to Rust (#805)
  src/Library/demos/Avatar/code.rs
Owners: @Hofer-Julian

library: Add Actions Rust demo (#806)
  src/Library/demos/Actions/code.rs
Owners: @Hofer-Julian

Remove documentation viewer
  README.md
  data/app.metainfo.xml
  po/POTFILES
  src/Extensions/Extensions.blp
  src/Manuals/DocumentationViewer.blp
  src/Manuals/DocumentationViewer.js
  src/Manuals/Shortcuts.blp
  src/Manuals/Shortcuts.js
  src/Manuals/fzy.js
  src/application.js
  src/shortcutsWindow.blp
  src/window.blp
Owners: @sonnyp

f
  src/Extensions/Extensions.js
Owners: @sonnyp

f
  data/app.metainfo.xml
Owners: @sonnyp

f
  data/screenshot-manuals.png
Owners: @sonnyp

f
  data/app.metainfo.xml
Owners: @sonnyp

Remove documentation viewer (#807)
  README.md
  data/app.metainfo.xml
  data/screenshot-manuals.png
  po/POTFILES
  src/Extensions/Extensions.blp
  src/Extensions/Extensions.js
  src/Manuals/DocumentationViewer.blp
  src/Manuals/DocumentationViewer.js
  src/Manuals/Shortcuts.blp
  src/Manuals/Shortcuts.js
  src/Manuals/fzy.js
  src/application.js
  src/shortcutsWindow.blp
  src/window.blp
Owners: @sonnyp

Quit Workbench when the last open window is closed
  src/Library/Library.js
  src/shortcutsWindow.js
  src/util.js
  src/window.js
Owners: @sonnyp

Do not swallow previewer crasher errors
  Makefile
  src/Previewer/Previewer.js
  src/Previewer/crasher.vala
  src/Previewer/utils.js
  src/libworkbench/meson.build
  src/meson.build
Owners: @sonnyp, @lw64

Update release notes
  data/app.metainfo.xml
Owners: @sonnyp

Library: Wite to file in Save File entry
  src/Library/demos/Save File/main.js
Owners: @sonnyp
