Repository workbenchdev/Workbench, pull requests merged in 2023-11, with the labels that each got.

#780 library: Port Overlay Split View demo to Vala
  src/Library/demos/Overlay Split View/main.vala
Labels: vala, Library 📚️

#778 library: Port Text Colors demo to Vala
  src/Library/demos/Text Colors/main.vala
Labels: vala, Library 📚️

#772 library: Port Tab View demo to Vala
  src/Library/demos/Tab View/main.vala
Labels: vala, Library 📚️

#768 library: Port Navigation View demo to Vala
  src/Library/demos/Navigation View/main.vala
Labels: vala, Library 📚️

#783 library: Port Open File demo to Vala
  src/Library/demos/Open File/main.vala
Labels: vala, Library 📚️

#770 library: Port Memory Monitor demo to Vala
  src/Library/demos/Memory Monitor/main.vala
Labels: vala, Library 📚️

#765 library: Port Launcher demo to Vala
  src/Library/demos/Launcher/main.vala
Labels: vala, Library 📚️

#746 Library: Port 'Memory Monitor' to Python
  src/Library/demos/Memory Monitor/main.py
Labels: Library 📚️, python

#728 Library: Port 'Video' to Python
  src/Library/demos/Video/main.py
Labels: Library 📚️, python

#734 Library: Port 'Text Fields' to Python
  src/Library/demos/Text Fields/main.py
Labels: Library 📚️, python

#730 Library: Port 'Toolbar View' to Python
  src/Library/demos/Toolbar View/main.py
Labels: Library 📚️, python

#737 Library: Port 'Tab View' to Python
  src/Library/demos/Tab View/main.py
Labels: Library 📚️, python

#733 Library: Port 'Text View' to Python
  src/Library/demos/Text View/main.py
Labels: Library 📚️, python

#735 Library: Port 'Text Colors' to Python
  src/Library/demos/Text Colors/main.py
Labels: Library 📚️, python

#742 Library: Port 'Search' to Python
  src/Library/demos/Search/main.py
Labels: Library 📚️, python

#803 python: fix Previewer not being closable
  src/langs/python/python-previewer.py
Labels: python

#741 Library: Port 'Color Picker' to Python
  src/Library/demos/Color Picker/main.py
Labels: Library 📚️, python

#743 Library: Port 'Dialogs' to Python
  src/Library/demos/Dialogs/main.py
Labels: Library 📚️, python

#747 Library: Port 'Label' to Python
  src/Library/demos/Label/main.py
Labels: Library 📚️, python

#749 Library: Port 'Open File' to Python
  src/Library/demos/Open File/main.py
Labels: Library 📚️, python

#744 Library: Port 'Flow Box' to Python
  src/Library/demos/Flow Box/main.py
Labels: Library 📚️, python

#748 Library: Port 'Revealer' to Python
  src/Library/demos/Revealer/main.py
Labels: Library 📚️, python

#751 Library: Port 'Menu' to Python
  src/Library/demos/Menu/main.py
Labels: Library 📚️, python

#753 Library: Port 'Switch' to Python
  src/Library/demos/Switch/main.py
Labels: Library 📚️, python

#755 Library: Port 'Stack' to Python
  src/Library/demos/Stack/main.py
Labels: Library 📚️, python

#767 Port 'Picture' to Python
  src/Library/demos/Picture/main.py
Labels: Library 📚️, python

#756 Library: Port 'Spin Button' to Python
  src/Library/demos/Spin Button/main.py
Labels: Library 📚️, python

#757 Library: Port 'Source View' to Python
  src/Library/demos/Source View/main.py
Labels: Library 📚️, python

#777 Library: Port 'Clamp' to Python
  src/Library/demos/Clamp/main.py
Labels: Library 📚️, python

#775 Library: Port 'Save File' to Python
  src/Library/demos/Save File/main.py
Labels: Library 📚️, python

#774 Library: Port 'Action Bar' to Python
  src/Library/demos/Action Bar/main.py
Labels: Library 📚️, python

#769 Library: Port 'Scale' to Python
  src/Library/demos/Scale/main.py
Labels: Library 📚️, python

#758 Library: Port 'Spell Checker' to Python
  src/Library/demos/Spell Checker/main.py
Labels: Library 📚️, python

#771 Library: Port 'Select Folder' to Python
  src/Library/demos/Select Folder/main.py
Labels: Library 📚️, python

#814 Library: Port 'Wallpaper' to Python
  src/Library/demos/Wallpaper/main.py
Labels: Library 📚️, python

#815 Library: Port 'Overlay Split View' to Python
  src/Library/demos/Overlay Split View/main.py
Labels: Library 📚️, python

#816 Library: Port 'Email' to Python
  src/Library/demos/Email/main.py
Labels: Library 📚️, python

#817 Library: Port 'Account' to Python
  src/Library/demos/Account/main.py
Labels: Library 📚️, python

#818 Library: Port 'Accessibility' to Python
  src/Library/demos/Accessibility/main.py
Labels: Library 📚️, python
